{% extends 'base.html' %}

{% block title %}Удаление пользователя {{ object.username }}{% endblock %}
{% block description %}Подтверждение удаления пользователя {{ object.username }}{% endblock %}
{% block main_section_modifiers %} user{% endblock %}

{% block content %}
    <h1 class="h1">Вы действительно хотите удалить пользователя {{ object.username }}</h1>
    <form class="form mt-4" action="{% url 'users:delete' object.id %}" method="POST">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="form-row d-flex align-items-center mt-4">
            <div class="form-group col-auto">
                <button class="btn btn-lg btn-danger" type="submit">Удалить</button>
            </div>
            <div class="form-group form-check col-auto">
                <a class="btn btn-secondary" type="submit" href="{% url 'users:list' %}">Отмена</a>
            </div>
        </div>
    </form>
{% endblock %}