@import "../../../node_modules/bootstrap/dist/css/bootstrap.css"
@import "../../../node_modules/tippy.js/dist/tippy.css"
@import "../blocks/form.styl"

.main-section
    min-height 100vh

.nav
    &-link
        &.active
            color #555

.chart
    &__canvas
        width 100%
        height auto