@import "../bootstrap-4.4.1-dist/css/bootstrap.css"
@import "../blocks/form.styl"

.main-section
    min-height 100vh

.statistic
    &__chart
        min-height 300px
        &-canvas
            width 100%
            height 100%
