meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, height=device-height")
title #{title}
meta(name="description" content=description)
link(rel="stylesheet" href="css/global.css?v=" + Math.floor(Math.random() * (1000 - 9999) + 9999))

