<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        {% load static %}
        {% load users_utils %}
        <link rel="stylesheet" href="{% static 'awrtest/css/global.css' %}">
    </head>
    <body>
        <div class="section main-section{% block main_section_modifiers %}{% endblock %}">
            {% block main %}
                <div class="container">
                    <div class="row align-items-stretch mt-4">
                        {% block menu %}
                            {% menu %}
                        {% endblock %}
                        <div class="content col-12 col-md-8">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <script src="{% static 'awrtest/js/polyfills.js' %}?v=1"></script>
        <script src="{% static 'awrtest/js/vendors~global.js' %}?v=1"></script>
        <script src="{% static 'awrtest/js/global.js' %}?v=1"></script>
    </body>
</html>